/* Importaciones - fuentes*/
@import url('https://fonts.cdnfonts.com/css/ysabeau-sc');
@import url('https://fonts.cdnfonts.com/css/quito');

/* Variables 
    -paleta de colores
    - tipografia
    - medidas (opcional)
*/

/* hace referencia al archivo raiz */
:root{

    --colorFondo:#D8C37F;
    --colorEnfasis1:#A4AE20;
    --colorEnfasis2:#C57023;
    --colorEnfasis3:#7B361A;
    --colorTest:#d9d09e85;
    --colorText2:#19160A;

    --textTitle:'Ysabeau SC', sans-serif;
    --textContent: 'Quito', sans-serif;
}

/* Condiciones o estilos iniciales de mi pagina */
*{
    margin: 0;
    padding: 0;
    /* Asegurarse de que todos los valores se ajusten a la propiedad
    que quiero */
    box-sizing: border-box;
}

body{
    background-color: var(--colorFondo);
    /* Tambien se puede poner como 100vw */
    width: 100%; 
    height: auto;
    /* overflow -> Esconder scroll y elementos que se sobresalen del contenedor */
    overflow-x:hidden;
}

/* HEADER */
header{
    border: 2px solid red;
    width: 100%;
    height: 100px;
}

.menuNavegacion{
    width: 100%;
    height: 100px;
    background-color: var(--colorEnfasis3);
    position: fixed;
    top:0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* arriba y abajo, izquierda y derecha */
    padding: 0 20px;
}

.logo{
   
    height: 100%;

}

.logo a{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* quitar la linea de los a */
    text-decoration: none;
    font-family: var(--textContent);
    color: var(--colorTest);
    /* cambiar grosor */
    font-weight: bold;
    font-size: 25px;
}

.pLogo{
    width: 150px;
    /* cambiar la forma del texto */
    /* text-align: right; */
}

.spanLogo{
    color: var(--colorEnfasis1);
}

.imgLogo{
    height: 100%;
}

.listaMenu{
    /* border: 2px solid green; */
    display: flex;
    gap: 50px;
    list-style: none;
}

.listaMenu a{
    text-decoration: none;
    color: var(--colorTest);
    font-family: var(--textContent);
    font: 20px;
}

.listaMenu a:hover{
    color: var(--colorEnfasis1);
}
/* MAIN */
main{
    width: 100%;
    padding: 100px;

}

.contenedorPrincipal{
    color: var(--colorText2);
    font-family: var(--textContent);
}

.contenedorPrincipal h1{
    font-family: var(--textTitle);
    color: var(--colorEnfasis3);
    font-size: 40px;
}

.contenedorImagenes{
    border: 3px solid var(--colorEnfasis3);
    margin-top: 50px;
    border-radius: 30px;
}
/* FOOTER */

footer{
    background-color: var(--colorEnfasis3);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--colorTest);
    font-family: var(--textContent);
    font-size: 20px;
}